{% set baseUrl = (app.request.scheme ~ '://' ~ app.request.host ~ app.request.baseUrl) %}
<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWX - {% block title %}No Title{% endblock %}</title>
    {% block head %}{% endblock %}

    <link href="{{ app['baseUrl'] }}/css/bootstrap.{{ app['theme'] }}.min.css" rel="stylesheet">
    <link href="{{ app['baseUrl'] }}/css/style.css" rel="stylesheet">

    {% include 'jslocale.twig' %}
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="{{ app['baseUrl'] }}/js/bootstrap.min.js"></script>
    <script src="{{ app['baseUrl'] }}/js/jquery.countdown.min.js"></script>
    <script src="{{ app['baseUrl'] }}/js/jquery.zclip.min.js"></script>
    <script src="{{ app['baseUrl'] }}/js/js.cookie.min.js"></script>
    <script src="{{ app['baseUrl'] }}/js/hideShowPassword.min.js"></script>
    <script src="{{ app['baseUrl'] }}/js/script.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li id="theme-selector" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'app.theme'|trans }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for theme in app['theme_service'].getValidThemes() %}
                <li {% if theme == app['theme'] %}class="active"{% endif %}><a href="#" data-theme="{{ theme }}">{{ theme|capitalize }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li id="language-selector" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'app.language'|trans }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li {% if app['locale'] == 'en' %}class="active"{% endif %}><a href="#" data-locale="en">{{ 'app.language.english'|trans }}</a></li>
              <li {% if app['locale'] == 'es' %}class="active"{% endif %}><a href="#" data-locale="es">{{ 'app.language.spanish'|trans }}</a></li>
              <li {% if app['locale'] == 'de' %}class="active"{% endif %}><a href="#" data-locale="de">{{ 'app.language.german'|trans }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3 page-header">
          <h1><a href="{{ baseUrl }}">{{ 'app.name'|trans }}</a></h1>
        </div>
      </div>
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="container">
        {{ 'app.poweredby'|trans }} <a href="https://github.com/MichaelThessel/pwx">pwx</a>.
      </div>
    </footer>
    {% block closing_scripts %}{% endblock %}
  </body>
</html>
