{% extends 'layout.twig' %}
{% block title %}{{ 'app.name'|trans }} - {{ 'view_password.view'|trans }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-4 page-container">
      {% if password %}
        {% if userName %}
          <div class="panel panel-default">
            <div class="panel-heading">{{ 'app.data.username'|trans }}</div>
            <div class="panel-body">
              <span data-clipboard="{{ userName }}">{{ userName }}</span>
            </div>
          </div>
        {% endif %}
        <div class="panel panel-default">
          <div class="panel-heading">{{ 'app.data.password'|trans }}</div>
          <div class="panel-body">
            <span data-clipboard="{{ password }}">{{ password }}</span>
          </div>
        </div>
        {% if comment %}
          <div class="panel panel-default">
            <div class="panel-heading">{{ 'app.data.comment'|trans }}</div>
            <div class="panel-body">
              {{ comment | nl2br }}
            </div>
          </div>
        {% endif %}
        <div class="panel panel-default">
          <div class="panel-heading">{{ 'view_password.period'|trans }}</div>
          <div class="panel-body">
            <div id="expires" data-expires={{ expires }}></div>
          </div>
        </div>

        <form method="post" action="/delete">
          <button type="submit" class="btn btn-danger" title="{{ 'view_password.delete'|trans }}"><span class="glyphicon glyphicon-remove"></span> {{ 'view_password.delete'|trans }}</button>
          <input type="hidden" name="hash" value="{{ hash }}" />
        </form>
      {% else %}
        <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-alert"></span> {{ 'view_password.expired'|trans }}</div>
      {% endif %}
    </div>
  </div>
{% endblock %}
