{% extends 'layout.twig' %}
{% block title %}{{ 'app.name'|trans }} - {{ 'view_password.view'|trans }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3 page-container">
      {% if credentials %}
        {% if credentials.userName %}
          <div class="panel panel-default">
            <div class="panel-heading">{{ 'app.data.username'|trans }}</div>
            <div id="userName" class="panel-body">
              <span data-clipboard="{{ credentials.userName }}">{{ credentials.userName }}</span>
            </div>
          </div>
        {% endif %}
        <div class="panel panel-default">
          <div class="panel-heading">{{ 'app.data.password'|trans }}</div>
          <div id="password" class="panel-body">
            <span data-clipboard="{{ credentials.password }}">{{ credentials.password }}</span>
          </div>
        </div>
        {% if credentials.comment %}
          <div class="panel panel-default">
            <div class="panel-heading">{{ 'app.data.comment'|trans }}</div>
            <div id="comment" class="panel-body">
              {{ credentials.comment | nl2br }}
            </div>
          </div>
        {% endif %}
        <div class="panel panel-default">
          <div class="panel-heading">{{ 'view_password.expires'|trans }}</div>
          <div class="panel-body">
            <div id="expires-countdown" data-expires={{ credentials.expires * 1000 }}></div>
          </div>
        </div>

        <form id="deleteCredentialsForm" method="post" action="{{ app.baseUrl }}/delete">
          <button type="submit" class="btn btn-danger" title="{{ 'view_password.delete'|trans }}"><span class="glyphicon glyphicon-remove"></span> {{ 'view_password.delete'|trans }}</button>
          <input type="hidden" name="hash" value="{{ credentials.hash }}" />
        </form>
      {% else %}
        <div id="credentialsExpired" class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-alert"></span> {{ 'view_password.expired'|trans }}</div>
      {% endif %}
    </div>
  </div>
{% endblock %}
